@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-color: #ffffff;
  /* --main-bg-color: #065f46; */
  --main-green-color: #052e16;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px !important;
  font-weight: bolder !important;
}

.swiper-pagination-bullet-active {
  background-color: #ed0ef0 !important;
}

.swiper-pagination-bullet {
  background-color: #ec0ef079;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0 !important;
}

:root {
  /* --swiper-navigation-size: 44px; */
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  /* --swiper-navigation-color: var(--swiper-theme-color); */
}

.inverted-svg {
  filter: invert(1) sepia(1);
}

* {
  scroll-behavior: smooth;
}

.large-font {
  font-size: 1.5rem; /* Adjust the size as needed */
}

.skew-top {
  transform: skewY(-4deg);
  transform-origin: top;
}

@layer components {
  .skewed-divider {
    position: absolute;
    bottom: -30px; /* Adjust as needed */
    left: 0;
    width: 100%;
    height: 60px; /* Height of the diagonal */
    background-color: #a3a3a3; /* Same as bg-neutral-400 */
    transform: skewY(-6deg); /* Creates the skew effect */
    transform-origin: bottom left; /* Anchors skew at bottom-left corner */
    z-index: 1; /* Place it behind the content */
  }
}

/* 
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
} */
