@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-color: #7d38e4;
  --swiper-navigation-size: 32px;
}

:root {
  --swiper-navigation-size: 44px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--swiper-theme-color);
}
